<footer class="bd-footer text-muted">
  <div class="container">
    <ul class="bd-footer-links">
      <li><a href="{{ site.github_repository }}">GitHub</a></li>
      <li class="disabled"><a  class="disabled" href="#">CORNAT</a></li>
      <li><a href="{{site.baseurl}}about/contribute/">Contribua</a></li>
      <li><a href="{{site.baseurl}}about/">Sobre</a></li>
    </ul>
    <p>Criado e <i class="fa fa-code"></i> com <i class="fa fa-heart"></i> por <a href="https://mozillians.org/u/alipseight" target="_blank">Magno Reis</a>. Mantido por <a href="https://github.com/orgs/raincorn/people">core team</a> com ajuda de <a href="https://github.com/raincorn/alunosmaio/graphs/contributors">nossos contribuidores</a>.</p>
    <p>Versão <kbd>{{ site.current_version }}</kbd>. Code licensed <a rel="license" href="https://github.com/raincorn/alunosmaio/blob/master/LICENSE" target="_blank">MIT</a>, docs <a rel="license" href="https://creativecommons.org/licenses/by/3.0/" target="_blank">CC BY 3.0</a>.</p>
  </div>
</footer>
