<!DOCTYPE html>
<head>
	<title>{{ page.title | default: site.title }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{{site.baseurl}}assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{site.baseurl}}assets/css/bootstrap.min.css.map">
	<link rel="stylesheet" href="{{site.baseurl}}assets/css/docs.min.css">
	 <link rel="stylesheet" href="{{site.baseeurl}}assets/css/font-awesome.min.css">
	 <meta name="theme-color" content="#157878">
	 <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
	 <link rel="stylesheet" href="{{site.baseurl}}assets/css/style.css">
	 <link rel="stylesheet" href="{{site.baseurl}}assets/css/alunosmaio.css">
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
 	<script>window.jQuery || document.write('<script src="{{site.baseurl}}assets/js/jquery.min.js"><\/script>')</script>
 	 <script src="{{site.baseurl}}assets/js/bootstrap.min.js"></script>
</head>
