{% include head.html %}
  <body>
    <section class="page-header">
      <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
        <a href="{{site.baseurl}}" class="btnc"><i class="fa fa-home"></i> Inicio</a>
      {% if site.git_repo %}
        <a href="{{site.baseurl}}about/contribute/" class="btnc"><i class="fa fa-github"></i> Contribuir</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btnc">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btnc">Download .tar.gz</a>
      {% endif %}
    </section>
    <section class="main-content">
      {{ content }}
    </section>
    <div class="footer-end">
  {% include footer.html %}
</div> <!-- footer-end -->
  </body>
